<%= form_for @week do |f| %>
 
  <% if @week.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@week.errors.count, "error") %> prohibited
        this week from being saved:
      </h2>
      <ul>
        <% @week.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :season %>
    <%= f.select :season, options_for_select([['Advent'], ['Lent'], ['Easter'], ['Pentecost'], ['Ordinary Time']]), class: "form-control" %>
  </div>
 
  <div class="form-group">
    <%= f.label :published_on %><br>
    <%= f.datetime_field :published_on, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :archived_on %><br>
    <%= f.datetime_field :archived_on, class: "form-control" %>
  </div>
 
  <div class="action">
    <%= f.submit %>
  </div>
 
<% end %>