<div class="new-weeks-container">
  <div class="d-flex justify-content-center">
    <h1>Archived Weeks</h1>
  </div>
  <br>
  
  <div class="d-flex justify-content-center">
    <div class="container" style="width: 50%; text-align: center;">
    <p>These weeks have already been published. They are available for users to view in the "Search Resource Archives" page. You can still view and edit archived weeks.</p>
    </div>
  </div>
  <div class="container-fluid" style="width: 75%;" >
    <table class="table table-striped table-responsive" style="background-color: white;">
      <tr>
        <th>Week Name</th>
        <th>Date Published</th>
        <th></th>
        <th></th>
      </tr>
      <% @weeks.each do |week| %>
      <tr>
	    <td><%= week.name %></td>
	    <td><%= week.published_on.strftime("%e %B") %> - <%=week.archived_on.strftime("%e %B, %Y") %></td>
	    <td><%= link_to 'Manage Week', week_path(week) %></td>
        <td><%= link_to 'User View', mobile_view_week_path(week) %></td>
      </tr>
      <% end %>
    </table>
    <br>
  </div>
</div>