



<div class="container-fluid">
  <div class="container-fluid">
    <h1>All Weeks</h1>
  </div>

  <div class="container-fluid">
    <%= link_to 'Create a New Week', new_week_path %>
  </div>
  <br>
  <div class="container-fluid" >
    <table class="table table-striped table-responsive" style="background-color: white;">
      <tr>
        <th>Week Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @weeks.each do |week| %>
      <tr>
	      <td><%= week.name %></td>
	      <td><%= link_to 'Manage Week', week_path(week) %></td>
        <td><%= link_to 'User View', mobile_view_week_path(week) %></td>
	      <td><%= link_to 'Edit', edit_week_path(week) %></td>
	      <td><%= link_to 'Delete', week_path(week), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Add to Queue' %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
