<nav class="navbar navbar-toggleable-sm navbar-dark" id="MainNavBar">
  <a class="navbar-brand">
    Growing Faith at Home
  </a>
  <button class="d-lg-none d-xl-none navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Search Resource Archives <span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="https://www.growministries.org.au/grow-resources/growing-faith-at-home/">About Growing Faith at Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.growministries.org.au/wp-content/uploads/sites/15/2018/06/GFH-home-users-guide_2018.pdf">Using Growing Faith at Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.growministries.org.au/">Grow Ministries</a>
      </li>
      
      
    </ul>
  </div>
</nav>
<div class="d-lg-none d-xl-none">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <nav class="nav justify-content-center navbar-inverse sidebar" id="resource-nav" role="navigation">
        <div class="navbar" id="bs-sidebar-navbar-collapse-1">
          <div id="resource-accordion">
            <div class="btn-group">
              <ul class="nav navbar-nav justify-content-center d-block" ">
                <li class="nav-item d-inline-block">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#readingList" data-parent="#resource-accordion" aria-expanded="false" aria-controls="readingList"><i class="fa fa-bookmark fa-lg" style="color:#9AC15E" aria-hidden="true"></i> Reading List</button>
                </li>
                <li class="nav-item d-inline-block">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#creativeResponse" data-parent="#resource-accordion" aria-expanded="false" aria-controls="creativeResponse"><i class="fa fa-paint-brush fa-lg" style="color:#9AC15E" aria-hidden="true"></i> Creative Response</button>
                </li>
                <li class="nav-item d-inline-block">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#mealtimePrayer" data-parent="#resource-accordion" aria-expanded="false" aria-controls="mealtimePrayer"><i class="fa fa-cutlery fa-lg" style="color:#9AC15E" aria-hidden="true"></i> Mealtime Prayer</button>
                </li>
                <li class="nav-item d-inline-block">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#serviceIdea" data-parent="#resource-accordion" aria-expanded="false" aria-controls="serviceIdea"><i class="fa fa-handshake-o fa-lg" style="color:#9AC15E" aria-hidden="true"></i> Service Idea</button>
                </li>
              </ul>
            </div>
            <div class="accordion-group">
              <div class="collapse" id="readingList">
                <div class="card card-block">
                  <div class="response-card">
                    <div class="card-title">
                      <h5>Reading List</h5>
                    </div>
                    <table class="table table-striped table-responsive">
                      <tr>
                        <th>Date</th>
                        <th>Verse</th>
                        <th>Title</th>
                      </tr>
                      <tr>
                        <% @week.reading_lists.each do |reading_list| %>
                          <td><%= reading_list.day.strftime("%A, %e %B") %></td>
                          <td><%= reading_list.verse %></td>
                          <td><%= reading_list.title %></td>
                       </tr>
                       <% end %>
                    </table>
                  </div>
                </div>
              </div>
              <div class="collapse" id="creativeResponse"><br>
                <div class="card card-block">
                  <div class="response-card">
                    <h5>Creative Response</h5>
                    <div id="CR">
                    <% @week.creative_responses.each do |creative_response| %>
                      <%= creative_response.response %>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" id="mealtimePrayer"><br>
                <div class="card card-block">
                  <div class="response-card">
                    <h5>Mealtime Prayer</h5>
                    <% @week.mealtime_prayers.each do |mealtime_prayer| %>
                      <%= mealtime_prayer.mealtime_prayer %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="collapse" id="serviceIdea"><br>
                <div class="card card-block">
                  <div class="response-card">
                    <h5>Service Idea</h5>
                    <% @week.service_ideas.each do |service_idea| %>
                      <%= service_idea.idea %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-8" id="main">
      <div class="container-fluid"><br>
        <div align="center">
          <div class="mv_box">
            <div class="card-block">
              <%= react_component('Memory_Verses', memory_verses: @week.memory_verses) %>
            </div>
          </div>
          <br>
          <div class="welcome_text">   
            <p><%=@week.name %></p>
          </div>       
          <div align="center">
            <div class="container-fluid" id="faith5buttons">
                <ul class="nav justify-content-center nav-pills d-block" role="pilllist">
  
                  <li class="nav-item d-inline-block">
                    <a class="nav-link active" data-toggle="pill" href="#share" role="tab" id="share-pill"></a>
                    Share
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#read" role="tab" id="read-pill"></a>
                    Read
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#talk" role="tab" id="talk-pill"></a>
                    Talk
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#pray" role="tab" id="pray-pill"></a>
                    Pray
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#bless" role="tab" id="bless-pill"></a>
                    Bless
                  </li>
                </ul>
            </div>
        </div>

        <div class="faith5_content">
          <div class="tab-content">
            <div class="tab-pane active" id="share" role="tabpanel">
              <div class="container">
                <br>
                <br>
                <h3>Share</h3><br>
                <% @week.shares.each do |share| %>
                  <p><%= share.questions %></p><br>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="read" role="tabpanel">
              <div class="read-content">
              <p style="font-size: 75%">Slide right to find today's reading.</p>
                <div class="container-fluid">
                <div class="row flex-row flex-nowrap">
                <% @week.reading_lists.each do |reading_list| %>
                  <div class="col-12">  
                    <div class="container" style="width:100%">
                    <h3>Read</h3>
                      <br>
                      <div class="container">
                        <h6><%= reading_list.day.strftime("%A, %e %B") %></h6>
                        <h6><%= reading_list.title %></h6>
                        <br>
                        <p><%= reading_list.verse %></p>
                        <p><%= reading_list.scripture_text %></p>
                      </div>
                    </div>
                  </div>
                    <% end %>
                  </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane" id="talk" role="tabpanel">
              <div class="container">
                <br>
                <br>
                
                <h3>Talk</h3><br>
                <% @week.talks.each do |talk| %>
                  <p><%= talk.question %></p><br>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="pray" role="tabpanel">
              <div class="container">
                <br>
                <br>
                <h3>Pray</h3><br>
                <% @week.prays.each do |pray| %>
                  <%= pray.prayer %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="bless" role="tabpanel">
              <div class="container">
                <br>
                <br>
                <h3>Bless</h3><br>
                <% @week.blesses.each do |bless| %>
                  <%= bless.blessing %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block col-lg-4" style="background-color: #00819A;">
    <div class="lg-screen-sidebar">
      <div class="container-fluid">
        <p style="font-size: 100%;">Weekly Resources:</p>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color:black;">
                  <i class="fa fa-bookmark fa-lg" style="color:#9AC15E"></i>    Reading List
                </a>
            </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <div class="card card-block">
                <div class="response-card">
                  <table class="table table-striped table-responsive">
                    <tr>
                      <th>Date</th>
                      <th>Verse</th>
                      <th>Title</th>
                    </tr>
                    <tr>
                    <% @week.reading_lists.each do |reading_list| %>
                      <td><%= reading_list.day.strftime("%A, %e %B") %></td>
                      <td><%= reading_list.verse %></td>
                      <td><%= reading_list.title %></td>
                    </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:black;">
            <i class="fa fa-paint-brush fa-lg" style="color:#9AC15E" aria-hidden="true"></i>    Creative Response
            </a>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <!--<div class="card-block">-->
              <div class="card card-block">
                <div class="response-card">
                <div id="CR">
                 <% @week.creative_responses.each do |creative_response| %>
                 <%= creative_response.response %>
                 <% end %>
                 </div>
                </div>
              </div>
            </div>
          <!--</div>-->
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:black;">
            <i class="fa fa-cutlery fa-lg" style="color:#9AC15E" aria-hidden="true"></i>    Mealtime Prayer</a>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <div class="response-card">
                <% @week.mealtime_prayers.each do |mealtime_prayer| %>
                <%= mealtime_prayer.mealtime_prayer %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color:black;">
            <i class="fa fa-handshake-o fa-lg" style="color:#9AC15E" aria-hidden="true"></i>    Service Idea</a>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
              <div class="response-card">
                <% @week.service_ideas.each do |service_idea| %>
                  <%= service_idea.idea %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-left:-10px; margin-top:0px; margin-right:-20px;"> 
      <div class="large-screen-links">
        <ul><%#= link_to 'Search Resource Archives' %></ul>
        <ul><%= link_to 'About Growing Faith at Home', "https://www.growministries.org.au/grow-resources/growing-faith-at-home/" %></ul>
        <ul><%= link_to 'Using Growing Faith at Home', "https://www.growministries.org.au/wp-content/uploads/sites/15/2018/06/GFH-home-users-guide_2018.pdf" %></ul>
        <ul><%= link_to 'Grow Ministries', "https://www.growministries.org.au/" %></ul>
        
        <ul><%#= link_to 'View Archives' %></ul>
      </div>
    </div>
  </div>
</div> 
</div> 
