<div class="new-weeks-container">
  <div class="d-flex justify-content-center">
    <h1>Queued Weeks</h1>
  </div>
  <br>
  
  <div class="d-flex justify-content-center">
    <div class="container" style="width: 50%; text-align: center;">
    <p>These weeks are in the queue. They will be published on the scheduled date. To edit the week or change the publishing date, go to "Manage Week". After the week is published it will be moved to the archives.</p>
    </div>
  </div>
  <div class="container-fluid" style="width: 75%;" >
    <table class="table table-striped table-responsive" style="background-color: white;">
      <tr>
        <th>Week Name</th>
        <th>Publishing Dates</th>
        <th>Season</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @weeks.each do |week| %>
      <tr>
	    <td><%= week.name %></td>
	    <td><%= week.published_on.strftime("%e %B") %> - <%= week.archived_on.strftime("%e %B, %Y") %></td>
      <td><%= week.season.church_season %></td>
      <td><%#= link_to 'Manage Week', week_path(week) %><%= link_to 'Manage Week', manage_weeks_queue_week_path(week) %></td>
        <td><%= link_to 'User View', mobile_view_week_path(week) %></td>
        <td><%= button_to 'Remove from Queue', remove_from_queue_week_path(week), class: "btn btn-success" %></td>
      </tr>
      <% end %>
    </table>
    <br>
  </div>
</div>