<%= link_to 'Back to Archived Weeks', archives_weeks_path %>
<br>
<br>
<nav class="navbar navbar-toggleable-sm navbar-dark" id="MainNavBar">
  <a class="navbar-brand">
    Growing Faith at Home
  </a>
  <button class="d-md-none d-lg-none d-xl-none navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Search Resource Archives <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Grow Ministries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How to Use GF@H</a>
      </li>
    </ul>
  </div>
</nav>
<div class="conatiner-fluid">
  <div class="d-lg-none d-xl-none">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-7">
      <br>
        <nav class="nav justify-content-center navbar-inverse sidebar" id="resource-nav" role="navigation">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <h6>Weekly Resources:</h6>
              </div>
              <div class="col-lg-12">
                <div class="navbar" id="bs-sidebar-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <div class="btn-group">
                      <li>

                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#readingList" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bookmark fa-lg" aria-hidden="true"></i></button>
                      </li>
                      <li><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#creativeResponse" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i></button> 
                      </li>
                      <li ><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#mealtimePrayer" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i></button>
                      </li>
                      <li ><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#serviceIdea" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-handshake-o fa-lg" aria-hidden="true"></i></button>
                      </li>
                    </div>
                    <div class="collapse" id="readingList">
                    <br>
                      <div class="card card-block">
                        <div class="response-card">
                          <div class="card-title">
                            <h5>Reading List</h5>
                          </div>
                          <table class="table table-striped table-responsive">
                            <tr>
                              <th>Date</th>
                              <th>Verse</th>
                              <th>Title</th>
                            </tr>
                            <tr>
                              <% @week.reading_lists.each do |reading_list| %>
                                <td><%= reading_list.day.strftime("%A, %e %B") %></td>
                                <td><%= reading_list.verse %></td>
                                <td><%= reading_list.title %></td>
                            </tr>
                            <% end %>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="creativeResponse"><br>
                      <div class="card card-block">
                        <div class="response-card">
                          <h5>Creative Response</h5>
                            <% @week.creative_responses.each do |creative_response| %>
                            <%= creative_response.response %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="mealtimePrayer"><br>
                      <div class="card card-block">
                        <div class="response-card">
                          <h5>Mealtime Prayer</h5>
                            <% @week.mealtime_prayers.each do |mealtime_prayer| %>
                             <%= mealtime_prayer.mealtime_prayer %>
                            <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="serviceIdea"><br>
                      <div class="card card-block">
                        <div class="response-card">
                          <h5>Service Idea</h5>
                          <% @week.service_ideas.each do |service_idea| %>
                            <%= service_idea.idea %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="d-none d-md-block col-md-4" style="background-color: #ddd">
        <div class="medium-screen-links">
          <p><%= link_to 'Search Resource Archives' %></p>
          <p><%= link_to 'About Grow Ministries' %></p>
          <p><%= link_to 'How to Use Growing Faith at Home' %></p>
        </div>
      </div>
    </div>
  </div>
  <!--</div>-->
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-7" id="main">
      <div class="container-fluid"><br>
        <div align="center">
          <div class="mv_box">
            <div class="card-block">
              <%= react_component('Memory_Verses', memory_verses: @week.memory_verses) %>
            </div>
          </div>
          <br>
          <div class="welcome_text">   
            <p><%=@week.name %></p>
            <!--<h6>We are in the season of <%=@week.season %> </h6>-->
          </div>       
          <div align="center">
            <div class="container-fluid" id="faith5buttons">
            <!--<div class="row">
              <div class="container-fluid">-->
                <ul class="nav justify-content-center nav-pills d-block" role="pilllist">
  
                  <li class="nav-item d-inline-block">
                    <a class="nav-link active" data-toggle="pill" href="#share" role="tab" id="share-pill"></a>
                    Share
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#read" role="tab" id="read-pill"></a>
                    Read
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#talk" role="tab" id="talk-pill"></a>
                    Talk
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#pray" role="tab" id="pray-pill"></a>
                    Pray
                  </li>
                  <li class="nav-item d-inline-block">
                    <a class="nav-link" data-toggle="pill" href="#bless" role="tab" id="bless-pill"></a>
                    Bless
                  </li>
                </ul>
            </div>
        </div>
        <div class="faith5_content">
          <div class="tab-content">
            <div class="tab-pane active" id="share" role="tabpanel">
              <div class="container">
                <h3>Share</h3><br>
                <% @week.shares.each do |share| %>
                  <p><%= share.questions %></p><br>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="read" role="tabpanel">
              <div class="read-content">
                <h3>Read</h3><br>
                <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="container">
                        <h3>Reading for <%#= @week.reading_lists[0].day.strftime("%A, %e %B") %></h3>
                        <h4><%#= @week.reading_lists[0].title %></h4>
                        <p><%#= @week.reading_lists[0].verse %></p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <h3>Reading for <%#= @week.reading_lists[1].day.strftime("%A, %e %B") %></h3>
                        <h4><%#= @week.reading_lists[1].title %></h4>
                        <p><%#= @week.reading_lists[1].verse %></p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <h3>Reading for <%#= @week.reading_lists[2].day.strftime("%A, %e %B") %></h3>
                        <h4><%#= @week.reading_lists[2].title %></h4>
                        <p><%#= @week.reading_lists[2].verse %></p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <h3>Reading for <%#= @week.reading_lists[3].day.strftime("%A, %e %B") %></h3>
                        <h4><%#= @week.reading_lists[3].title %></h4>
                        <p><%#= @week.reading_lists[3].verse %></p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <h3>Reading for <%#= @week.reading_lists[4].day.strftime("%A, %e %B") %></h3>
                        <h4><%#= @week.reading_lists[4].title %></h4>
                        <p><%#= @week.reading_lists[4].verse %></p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <h3>Reading for <%#= @week.reading_lists[5].day.strftime("%A, %e %B") %></h3>
                        <h4><%#= @week.reading_lists[5].title %></h4>
                        <p><%#= @week.reading_lists[5].verse %></p>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>-->
              </div>
            </div>
            <div class="tab-pane" id="talk" role="tabpanel">
              <div class="container">
                <br>
                <br>
                <br>
                <br>
                <h3>Talk</h3><br>
                <% @week.talks.each do |talk| %>
                  <p><%= talk.question %></p><br>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="pray" role="tabpanel">
              <div class="container">
                <br>
                <br>
                <h3>Pray</h3><br>
                <% @week.prays.each do |pray| %>
                  <%= pray.prayer %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane" id="bless" role="tabpanel">
              <div class="container">
                <br>
                <br>
                <h3>Bless</h3><br>
                <% @week.blesses.each do |bless| %>
                  <%= bless.blessing %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-none d-xl-none d-none d-md-block col-md-4" style="background-color: #ddd">
  </div> 
  <div class="d-none d-lg-block col-md-4 col-lg-5" style="background-color: #ddd">
    <div class="lg-screen-sidebar">
      <p>Weekly Resources:</p>
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <i class="fa fa-bookmark"></i>   Reading List
                </a>
              </h5>
            </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <div class="card card-block">
          <div class="response-card">
            <table class="table table-striped table-responsive">
              <tr>
                <th>Date</th>
                <th>Verse</th>
                <th>Title</th>
              </tr>
              <tr>
                <% @week.reading_lists.each do |reading_list| %>
                  <td><%= reading_list.day.strftime("%A, %e %B") %></td>
                  <td><%= reading_list.verse %></td>
                  <td><%= reading_list.title %></td>
              </tr>
                <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>   Creative Response
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        <div class="card card-block">
          <div class="response-card">
            <% @week.creative_responses.each do |creative_response| %>
              <%= creative_response.response %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-cutlery" aria-hidden="true"></i>   Mealtime Prayer</a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        <div class="response-card">
          <% @week.mealtime_prayers.each do |mealtime_prayer| %>
            <%= mealtime_prayer.mealtime_prayer %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>   Service Idea</a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">
        <div class="response-card">
          <% @week.service_ideas.each do |service_idea| %>
            <%= service_idea.idea %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="large-screen-links">
      <p><%= link_to 'Search Resource Archives' %></p>
      <p><%= link_to 'About Grow Ministries' %></p>
      <p><%= link_to 'How to Use Growing Faith at Home' %></p>
    </div>
    </div>
  </div>
  <br>
  <br>
</div>