<%= form_for @season do |f| %>
 
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@season.errors.count, "error") %> prohibited
        this season from being saved:
      </h2>
      <ul>
        <% @season.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-inline">
  <div class="form-group">
    <%= f.label :Season %> 
    <%= f.text_field :church_season, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit  class: "btn btn-primary"%>
  </div>
 </div>
<% end %>