<!--<div class="container-fluid">
  <%#= reading_list.day.strftime("%A, %e %B") %>
  <%#= link_to 'Delete Day', [reading_list.week, reading_list],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</div>-->


<div class="container">
  <div class="row">
    <%= form_for [reading_list.week, reading_list] do |f| %>
      <table class="table table-striped table-responsive">
        <tr>
        <div class="form-group">
          <td><%= f.text_area :day, class: 'form-control edit-rl' %></td>
          <td><%= f.text_area :verse, class: 'form-control edit-rl' %></td>
          <td><%= f.text_area :title, class: 'form-control edit-rl' %></td>
          <td><%= f.text_area :scripture_text, class: 'form-control edit-rl' %></td>
        </div>
        <td><div class="text-right">
          <%= f.button class: 'btn btn-primary', title: "Save" do %>
            <i class="fa fa-floppy-o fa-lg"></i>
          <% end %>
          <%= link_to [reading_list.week, reading_list], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', title: "Delete" do  %>
           <i class="fa fa-remove fa-lg"></i>
          <% end %>
          <%= link_to 'Edit', edit_week_reading_list_path(reading_list.week, reading_list) %>
        </div>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
