<div class="container">
  <%= form_for [memory_verse.week, memory_verse] do |f| %>
  <%= f.text_area :verse_address, class: 'form-control edit-memory_verse' %>
  <%= f.text_area :text, class: 'form-control edit-memory_verse' %>
  <%= f.submit "Update", class: 'btn btn-primary' %>
  <%= link_to 'Delete', [memory_verse.week, memory_verse],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></p>
   <% end %>
</div>

